ConstructorEagerAnnot/bin
ConstructorEagerAnnot/libs

ConstructorInject/bin
ConstructorInject/libs

ConstructorInjectAnnot/bin
ConstructorInjectAnnot/libs

ConstructorInjectionAnnot/bin
ConstructorInjectionAnnot/libs

FieldInjectionUsingAnnotation/bin
FieldInjectionUsingAnnotation/libs

SetterInjectionAnnot/bin
SetterInjectionAnnot/libs

SetterEagerAnnot/bin
SetterEagerAnnot/libs

SetterInjectionUsingAnnotationFinal/bin
SetterInjectionUsingAnnotationFinal/libs

SetterLazyAnnotation/bin
SetterLazyAnnoatation/libs

SetterLazyUsingJavaConfiguration/bin
SetterLazyUsingJavaConfiguration/libs

demo/bin
demo/libs

